### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
heroes_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(heroes_path)

In [24]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [25]:
#display total. use length and .unique to count number of unique names and add to new dataframe
total_players = len(df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
#calculate number of unique items, average price, number of purchases, and total revenue
unique_items = df["Item ID"].nunique()
average_price = df["Price"].mean()
number_purchases = df["Purchase ID"].nunique()
total_revenue = df["Price"].sum()
#store data for easier index lookup later
purchase_data = [unique_items, average_price, number_purchases, total_revenue]
print(purchase_data)

[179, 3.050987179487176, 780, 2379.77]

In [27]:
#create new dataframe out of purchase_data
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [purchase_data[0]],
                           "Average Purchase Price": [purchase_data[1]],
                           "Number of Purchases": [purchase_data[2]],
                           "Total Revenue": [purchase_data[3]]})                     
#clean it up
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchase_summary_df["Average Purchase Price"] = purchase_summary_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_summary_df = purchase_summary_df.set_index("Number of Unique Items")

#display
purchase_summary_df

,Average Purchase Price,Number of Purchases,Total Revenue
Number of Unique Items,,,
179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [31]:
#groupby gender
gender_df = df.groupby("Gender")

#percentage calculations
total_gender_count = gender_df["SN"].nunique()
percent_players = total_gender_count / total_players * 100

# create new dataframe 
gender_demo_df = pd.DataFrame({"Percentage of Players": percent_players, "Total Count": total_gender_count})
#clean it up
gender_demo_df.index.name = None
gender_demo_df = gender_demo_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f} %"})
gender_demo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
#purchases by gender
purchase_count = gender_df["Purchase ID"].count()
#average total purchase by gender
avg_purchase_total = gender_df["Price"].sum()

#average purchase prices by gender
avg_purchase_price = gender_df["Price"].mean()



#average purchase total by gender/purchase count (unique shoppers calculated previously)
avg_purchase_per_person = avg_purchase_total/total_gender_count

#create new dataframe
gender_purchase_demo_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Total": avg_purchase_total,
                                    "Avg Purchase Total / Person": avg_purchase_per_person})

#set new index to make it look prettier
gender_purchase_demo_df.index.name = "Gender"
gender_purchase_demo_df.index.name = None
#clean it up
gender_purchase_demo_df = gender_purchase_demo_df.sort_values(["Purchase Count"], ascending = False)
gender_purchase_demo_df = gender_purchase_demo_df.style.format({"Average Purchase Total":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total / Person":"${:,.2f}"})
gender_purchase_demo_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [73]:
#bins
bins = [0, 9, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 44.5, 999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]

#insert new column and cut in bins by age
df["Age Group"] = pd.cut(df["Age"], bins, labels = bin_names)
age_grouped = df.groupby("Age Group")

#calculate players and percent by age
total_age_count = age_grouped["SN"].nunique()
percentage_by_age = total_age_count/total_players * 100

# create new dataframe
age_demo_df = pd.DataFrame({"Players by Age": total_age_count, "Percentage by Age": percentage_by_age})

#clean it up
age_demo_df.index.name = None
age_demo_df = age_demo_df.style.format({"Percentage by Age":"{:,.2f} %"})
age_demo_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame